<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
<!-- 1、把准备发布的服务写成一个bean -->
 <bean id="weatherService" class="cn.itcast.cxfserver.WeatherServiceImpl"></bean>

<!-- 2、发布 -->
  <jaxws:server address="/weather">
    <jaxws:serviceBean>
     <ref bean="weatherService"/>    
    </jaxws:serviceBean>
  </jaxws:server>	
</beans>
